Hello, 
here is the app key for trecs.com you requested to use in {{app}}; be sure to keep it to yourself!
{{key}}

You can start using our services by registering some of your users. You can do it programatically via the API 
(requires basic http authentication) or by using our application dashboard.
Either way, you'll need to authenticate, so your credentials are:
username: {{app}}
password: {{pass}}

When you're ready to start using T-Recs, refer to {{url}} for more detailed usage instructions.