.panel {
position: fixed;
/*top: 50px;*/
right: 0;
display: none;
background: #000000;
border:1px solid #111111;
width: 200px;
/*height: auto;*/
/*padding: 30px 30px 30px 130px;*/
filter: alpha(opacity=85);
opacity: .85;
height: 100%;
}

a.trigger{
position: absolute;
text-decoration: none;
top: 80px; right: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 15px;
font-weight: 700;
background:#333333 url(/static/images/book.png) no-repeat bottom;
border:1px solid #444444;
display: block;
text-indent: -1000px;
height: 45px;
filter: alpha(opacity=85);
opacity: .85;
}

a.trigger:hover{
padding: 20px 40px 20px 20px;
background-color:#222222;
}

a.active{
height: 60px;	
background:#333333 url(/static/images/book.png) no-repeat top;
filter: alpha(opacity=100);
opacity: 1;
}

/*a.active.trigger {
background:#222222 url(images/minus.png) 85% 55% no-repeat;
}*/