.lebrixen-panel {
position: fixed;
top: 0;
bottom: 0;
right: 0;
display: none;
background: #000000;
border:1px solid #111111;
width: 300px;
/*height: auto;*/
/*padding: 30px 30px 30px 130px;*/
filter: alpha(opacity=85);
opacity: .85;
height: 100%;
}

a.lebrixen-trigger{
position: fixed;
text-decoration: none;
top: 80px; right: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 15px;
font-weight: 700;
background:#333333 url(/static/images/book.png) no-repeat bottom;
border:1px solid #444444;
display: block;
text-indent: -1000px;
height: 45px;
filter: alpha(opacity=85);
opacity: .85;
-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius: 10px;
}

a.lebrixen-trigger:hover{
padding: 20px 40px 20px 20px;
background-color:#222222;
}

a.active{
height: 60px;	
background:#fcaf17 url(/static/images/book.png) no-repeat top;
filter: alpha(opacity=90);
opacity: 0.9;
}

/*a.active.trigger {
background:#222222 url(images/minus.png) 85% 55% no-repeat;
}*/
#lebrixen-average-rel-slider.ui-state-disabled{
	opacity: 1 !important;
}

#lebrixen-average-rel-slider.ui-slider-horizontal{
	height: 1.2em !important;
}

#lebrixen-average-rel-slider .ui-slider-handle{
	opacity: 0 !important;
}

.lebrixen-panel h2{
	font-size: 1.2em;
}

#lebrixen-hide-panel{
	text-decoration: none;
	color: #fcaf17;
	display:block;
	padding: 10px 10px 5px 25px;
	font-weight: bold;
	border: 1px solid #fcaf17;
}

#lebrixen-terms{
	background-color: #feeebd;
	color: #1f1f1f;
	font-size: 1.2em;
	border-color: #8e846b;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 100%;
}

#lebrixen-docs-container{
	height: 100%;
	overflow: auto;	 
}

#lebrixen-docs-container a{	
	color: #0074c7;
	font-size: 1em;
}

#lebrixen-docs-container p{
	color: #8e846b;
	font-style: italic;
}

#lebrixen-terms-title, #lebrixen-docs-title, #lebrixen-average-rel-title{
	color: #fece2f;
	font-size: 1.1em;
}

#lebrixen-terms, #lebrixen-docs, #lebrixen-terms-title, #lebrixen-docs-title{
	display: none;
}

.lebrixen-result .lebrixen-feedback-action{
	float: left;
	height: 20px;
	width: 19px;
	margin-right: 2px;
	background: transparent url('/static/images/feedback.png') no-repeat;
	text-indent: -1000px;	
}

.lebrixen-result .lebrixen-result-content{
	display: table-cell;
}