BeautifulSoup==3.0.8.1
Django==1.1.1
Djapian==2.3.1
PAM==0.4.2
Scrapy==0.8
South==0.7
amqplib==0.6.1
cElementTree==1.0.6-preview
carrot==0.10.3
celery==1.0.2
decorator==3.0.0
django-selenium-test-runner==0.1.0
elementtree==1.3a3-20070912-preview
funkload==1.12.0
httplib2==0.4.0
importlib==1.0.2
jsonlib2==1.5.2
pycrypto==2.0.1
pysqlite==2.5.5
recaptcha-client==1.0.5
simplejson==2.0.9
topia.termextract==1.1.0
xappy==0.5
