/*Based on a jquery theme: Dot Luv*/
#content-center{
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-color: #000000;
	margin-top: 5px;
}

#user-profile{
	float:left;
	width: 40%;
}

#user-simulation{
	float: right;
	width: 55%;
	overflow: hidden;
}

#simulation-unranked{
	float: left;
	overflow: auto;
	min-height: 300px;
	width: 45%;
}

#simulation-ranked{
	float: right;
	overflow: auto;
	min-height: 300px;
	width: 45%;
}

#unranked-results, #ranked-results{
	list-style-type: square;
	color: #096ac8;
}
#unranked-results li, #ranked-results li{
	margin-top: 4px;
}

#unranked-results li a, #ranked-results li a{
	font-size: 1em;
	color: #4c3000;
}


.user-info{
	color: #98d2fb;		
}

.sim-results{
	color: #383838;
}

#user-profile-graph{
	height: 300px;
	width: 300px;	
}

select{
	font-size:1.3em;
}