body{
	font-family: helvetica, arial, sans-serif;
	height: 100%;
}
#planning-area{
	float: left;
	width: 60%;
}



#id_content{
	width: 100%;
}

#branding h1{
	font-size: xx-large;
	color: #494437;
}

#branding p{
	color:#ffffff;
}

#branding{
	background-color: #817865;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

textarea, input[type=text]{	
	font-size:1.5em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

label {
	font-size:1.5em;
	color:#939598;
}

#resources{
	list-style-type: none;
	display: block;
}

#resources li{
	background:#fcaf17;
	margin-top: 6px;		 
}

#resources li a{
	color: white;		
}

.resources-title{
	color: #939598;
}

#planning-submit, #simulation-submit{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background:#494437;
	border:0;
	color:#FFF;
	cursor:pointer;
	font-size:1.5em;
	text-align:center;	
}

#settings, #tools{
	background-color: #feeebd;
	color: #383838;
	border-color: #8e846b;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	clear: both;	
}

#settings-submit, #tools-submit{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background:#d19405;
	border:0;
	color:#FFF;
	cursor:pointer;
	font-size:1.5em;
	text-align:center;	
}

/*.settings-title{
	color: #383838;
	font-weight: bold;
	font-size: 1em;
}*/

select{
	font-size:1.5em;
}

#footer{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
	bottom: 0;
	font-size: 1em;
	position:absolute;
	clear: both;			
	margin: auto;
	background-color: #817865;
	width: 100%;
	text-align:center;	
}

#footer a{
	text-decoration: none;
	font-weight:bold;
	font-size: 1em;
	color: #fff;
}

#id_uid{
	width: 200px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}