body{
	font-family: helvetica, arial, sans-serif;
}
#planning-area{
	float: left;
	width: 60%;
}

#results-area{
	float: right;
	width: 37%;	
}

#id_content{
	width: 100%;
}

#terms, #docs{
	display: none;
}

#branding h1{
	font-size: xx-large;
	color: #494437;
}

#branding p{
	color:#ffffff;
}

#branding{
	background-color: #817865;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

textarea {	
	font-size:1.5em;
}

label {
	font-size:1.5em;
	color:#939598;
}

#terms{
	background-color: #feeebd;
	color: #1f1f1f;
	font-size: 1.2em;
	border-color: #8e846b;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 100%;
}

#docs-container{
	height: 300px;
	overflow: auto;	 
}

#docs-container a{	
	color: #0074c7;
}

#docs-container p{
	color: #8e846b;
	font-style: italic;
}