body{
	font-family: helvetica, arial, sans-serif;
}
#planning-area{
	float: left;
	width: 60%;
}



#id_content{
	width: 100%;
}

#branding h1{
	font-size: xx-large;
	color: #494437;
}

#branding p{
	color:#ffffff;
}

#branding{
	background-color: #817865;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

textarea {	
	font-size:1.5em;
}

label {
	font-size:1.5em;
	color:#939598;
}

#resources{
	list-style-type: none;
	display: block;
}

#resources li{
	background:#fcaf17;	 
}

#resources li a{
	color: white;	
}

#resources-title{
	color: #817865;
}