{%extends "base.html"%}
{%load i18n%}
{%block title%}{%trans "Internals Demo"%}{%endblock%}
{%block stylesheets%}
	<link rel="stylesheet" type="text/css" href="/static/css/demo.css" media="screen" />
	{#<link rel="stylesheet" type="text/css" href="/static/css/slimbox2.css" media="screen" />#}
{%endblock%}
{%block scripts%}
	{#<script type="text/javascript" src= "/static/js/slimbox2.js"></script>#}
	<script type="text/javascript" src="/static/js/prototype/demo.js" ></script>
{%endblock%}

{%block content%}
	<div id="branding">
		<h1>{%trans "Internals Demo"%}</h1>
		<p>{%trans "To demonstrate how the profiles evolve and the recommendations are built"%}</p>
	</div>
	<div id="content">
			<div id="tools">
				<form id="tools-form" action="#">
					{{tools_form}}
					<input type="submit" value="{%trans 'Set'%}" id="tools-submit" disabled="disabled"/>
				</form>
				<h2 class="user-info"></h2>
			</div>	
			<div id="content-center">
				<div id="user-profile">
					<a id="user-profile-graph-thumb" target="_blank" 
					   rel="lightbox" title="{%trans 'User profile graph'%}" href="#">
						<img id="user-profile-graph" src='/static/images/graphholder.png' />
					</a>
				</div>
				<div id="user-simulation">
					<form id="simulation-form" action="#">
						{{simulation_form}}
						<input type="submit" value="{%trans 'Query'%}" id="simulation-submit" disabled="disabled"/>
					</form>
					<div id="simulation-unranked">
						<h4 class="sim-results" style="display:none;">{%trans "Original results"%}</h4>
						<ul id="unranked-results"></ul>
					</div>
					<div id="simulation-ranked">
						<h4 class="sim-results" style="display:none;">{%trans "Re-ranked results"%}</h4>
						<ul id="ranked-results"></ul>
					</div>
				</div>
			</div>			
	</div>	
	<div id="footer">
			<span>
				{%trans "Demo Page, not an actual part of the final product"%}				 
			</span>
	</div>
{%endblock%}
