{%extends "base.html"%}
{#{%load i18n%}#}
{%block stylesheets%}
	<link rel="stylesheet" type="text/css" href="/static/css/prototype.css" media="screen" />
{%endblock%}
{%block scripts%}
	<script type="text/javascript" src="/static/js/prototype/index.js" ></script>
{%endblock%}
{%block content%}
	<div id="branding">
		<h1>Recommender Prototype</h1>
		<p>Created to show how the automatic term extraction and search work.</p>
	</div>
	<div id="content-center">
		<div id="planning-area">
			{{form}}
		</div>
		<div id ="results-area">
			<div id ="terms-container">	
				<h2 id="terms-title">Terms Extracted</h2>		
				<textarea rows="4" cols="20" id="terms" readonly="readonly"></textarea>
			</div>
			<h2 id="docs-title">Recommended Documents</h2>
			<div id="docs-container">						
			</div>
		</div>
	</div>
{%endblock%}