{%extends "dashboard_base.html"%}
{%load i18n%}
{%block scripts%}
<script type="text/javascript" src= "/static/js/jquery.formset.min.js"></script>
<script>
	var c_limit = {{user_limit}}; //users allowed per app
	var used = {{user_count}}; //your user count
	var e_limit = {{user_delta}}; //how many more you can add
	$(function(){
		$('#tabs').tabs({ajaxOptions: {
			complete: function(){
				$('.user-remove').click(
					function(e){
						$('#remove-user-id').val($(e.target).attr('id'));
						$('#dialog-confirm').dialog('open');
					}
				);
			}
		},
		{%if request.GET.ul%}
			selected: 1		
		{%endif%}
		});
		
		
		$('#register-users-form tbody tr').formset({
			prefix: '{{formset.prefix}}',
			added: function(row){
					var frms = $('.dynamic-form', $('#register-users-form')).length;
					if( frms == e_limit){
						$('.dynamic-form-add', $('#register-users-form')).hide();
						//remove those that managed to be added:
					}	
					if(frms > e_limit){
						$('.dynamic-form', $('#register-users-form')).slice(-(frms-e_limit)).remove();
					}
				},
			removed: function(row){
				$('.dynamic-form-add', $('#register-users-form')).show();
			},
			addText: '{%trans "Add another"%}',
			deleteText: '{%trans "Remove"%}'
			}
		);
		
		//don't let add if this is the last user:
		if(e_limit == 1){
			$('.dynamic-form-add', $('#register-users-form')).remove();
			$('.delete-row', $('#register-users-form')).remove();
		}
		
		var dlg = $('#dialog-confirm');
		$('#dialog-confirm').dialog({
			autoOpen: false,
			resizable: false,
			height:300,
			width: 400,
			modal: true,
			buttons: {
				'{%trans "Delete"%}': function() {
					$.post('/dashboard/users/remove/',
							$('#remove-form').serialize(),
							function(data){
								if(data.valid){
									$('#user_'+data.id).remove();
									dlg.dialog('close');
									//window.location.reload();
									window.location.replace(window.location.href.replace(window.location.search, '?ul=1'));
								}else{
									$('#feedback').text(data.message);
								}
							},
							'json'
							);
					
				},
				'{%trans "Cancel"%}': function() {
					$(this).dialog('close');
				}
			}
		});
		
		
	});
</script>
	
{%endblock%}

{%block content%}
<div id="dialog-confirm" title="{%trans 'Delete user?'%}">
	<p><span id="feedback"></span></p>
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
	{%trans "This user will be permanently deleted and cannot be recovered. Are you sure?"%}</p>
	<form id="remove-form">
		<input type="hidden" id="remove-user-id" value="" name="uid"/>
	</form>
</div>
	<p>{%blocktrans%}You have {{user_count}} users registered. The current limit is {{user_limit}}: you can add {{user_delta}} more
	   {%endblocktrans%}
	</p>
	
	<div id="tabs">
		<ul>
			<li><a href="#register-users">{%trans "Register Users"%}</a></li>
			<li><a href="/dashboard/users/">{%trans "All Users"%}</a></li>
		</ul>
		<div id="register-users">
		{%ifequal user_delta 0%}
				<span class="warning">{% trans "User limit exceeded. You cannot register more users"%}</span>
		{%else%}
		<p>{%blocktrans%}Fill this list with the unique identifiers your application will be passing to the recommendation service. With these,
		we'll know which user is performing a task and give her/him personalized recommendations
		{%endblocktrans%}</p>
		{%if message%}
			<span class="warning">{{message}}</span>
		{%endif%}		
			<form id="register-users-form" method="post" action="">
  				<table border="0" cellpadding="0" cellspacing="0">
    				<tbody>
    				{% for form in formset.forms %}
      				<tr>
        				<td>{{ form.name }}</td>
        				<td>{{ form.name.errors }}</td>	
      				</tr>
    				{% endfor %}
    				</tbody>
  				</table>
  				{{ formset.management_form }}
  				<input type="submit" class="trecs-submit" value="{%trans 'Register'%}"/>
			</form>
		{%endifequal%}			
		</div>
	</div>
{%endblock%}