{#{%load i18n%}#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <meta name="description" content="T-Recs: onTology-based Recommender System, a web service
        that enables you to enhance user experience in text edition and other tasks by offering 
        intelligent reference suggestions" />
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
        <title>{%block title%}{%endblock%} {{user.get_profile.url}} :: Your Dashboard :: T-Recs </title>
        <!--[if IE]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->        
        {%block stylesheets%}
			<link rel="stylesheet" type="text/css" href="/static/css/register/base.css" media="screen" />
			<link rel="stylesheet" type="text/css" href="/static/css/south-street/jquery-ui-1.8.1.custom.css" media="screen" />	
		{%endblock%}
        <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js" ></script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.8.1.custom.min.js" ></script>                      
        {%block scripts%}{%endblock%}
    </head>
    <body>    
    <div id="branding">
    	<a class="branding-link" href="/" title="T-Recs: an onTology-based Recommender Service">T-Recs</a>
    	<div id="branding-content">
    		<h1 class="branding-title">T-Recs Dashboard{% if user.get_profile.url %}: <span class="app_name">{{user.get_profile.url}}</span>
    		{%endif%}</h1>    		
    	</div>   	
    </div>
    <div id="content">
		{%block content%}		
		{%endblock%}
	</div>
	<div id="footer">
		<a href="/dashboard/logout/">Logout</a><br />&#x00a9;{%now "Y"%} T-Recs. An onTology-based RECommender Service </div>
    </body>
</html>