{%extends "dashboard_base.html"%}
{%load i18n%}
{%block content%}
<p>{%blocktrans%}Reset your password here. If all goes well, you'll be redirected to the main page, there
you can try and login with your new password.{%endblocktrans%} 
</p>
{% if form.errors %}
{#<p>Your application name and password didn't match. Please try again.</p>#}
{% endif %}

<form method="post" action="" id="login-form">
<table>
{{form}}
</table>
<input type="submit" value="{%trans 'reset'%}" id="login-submit"/>
{#<input type="hidden" name="next" value="{{ next }}" />#}
</form>


{%endblock%}