{%extends "dashboard_base.html"%}
{%block content%}
<p>A new password will be sent to your email.
If all goes well, you will be redirected to the main page, check your e-mail in the next 24 hours, 
if you don't get it, make sure it was not sent to your spam folder and ask for reset again. 
<em>Note that you must provide the email with which you registered your application.</em>
 
</p>
{% if form.errors %}
{#<p>Your application name and password didn't match. Please try again.</p>#}
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.password_reset %}" id="login-form">
<table>
{%comment%}
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
{%endcomment%}
{{form}}
</table>

<input type="submit" value="reset" id="login-submit"/>
{#<input type="hidden" name="next" value="{{ next }}" />#}
</form>


{%endblock%}