{#{%load i18n%}#}
<div id ="lebrixen-recommendations-bar" class="panel">
			<a href="#" id="lebrixen-hide-panel">Ocultar >></a>
			<h2 id="lebrixen-average-rel-title"></h2>
			<div id="lebrixen-average-rel-slider"></div>
			<div id ="terms-container">	
				<h2 id="terms-title">Términos clave</h2>		
				<textarea rows="2" cols="20" id="terms" readonly="readonly"></textarea>
			</div>
			<h2 id="docs-title">Documentos Recomendados</h2>
			<div id="docs-container">						
			</div>
</div>
<a class="trigger" href="#">Recommendations</a>