{#{%load i18n%}#}
{%extends "register_base.html"%}
{%block title%}Home{%endblock%}
{%block content%}
	<h2 name="introduction">What is it?</h2>
	<p>T-Recs is a recommender service</p>
	<em>Check out a <a href="/prototype/">sample application</a></em>
	<h2 name="usage">How to use it?</h2>
	<ol id="usage-steps">
		<li><span class="content">Get your <a href="/register/">Api key</a></span></li>
		<li><span class="content">Use it fast with the <a href="/usage/#widget">Widget</a> 
		    or as you like with the full <a href="/usage/#api">REST API</a></span></li>
	</ol>		
{%endblock%}